.buttons{
	-webkit-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.37);
	-moz-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.37);
	box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.37);
	// position: relative;
    // padding: 2%;
    // margin: .3125rem 1px;
    font-size: .75rem;    
    line-height: 1.428571;
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 0;
    height:120%;
    // width:80%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 2px;
    background: #3575D3;
    color: #ffffff;
}