

.dashboard-container{
	background: radial-gradient(ellipse at center,#585858 0,#232323 100%);
	background-size: cover;
	background-repeat: no-repeat;
}
.dashboard-body{
	-webkit-box-shadow: 0px 3px 8px -1px rgba(0,0,0,0.75);
	-moz-box-shadow: 0px 3px 8px -1px rgba(0,0,0,0.75);
	box-shadow: 0px 3px 8px -1px rgba(0,0,0,0.75);
	min-height: 100%;
	padding:4rem 1% 1%  0;
	// background: rgba(36, 36, 36, 0.7);
	

	border-radius: 5px;
}

.card.long-card{
	margin-right:3rem;
	min-height:100%;
	-webkit-box-shadow: 0px 3px 8px -1px rgba(0,0,0,0.75);
	-moz-box-shadow: 0px 3px 8px -1px rgba(0,0,0,0.75);
	box-shadow: 0px 3px 8px -1px rgba(0,0,0,0.75);
}
.card-image{
	height:3rem;
}
.client-side-menu-header{
	background:#495867;
}
.client-side-menu-hover:hover{
	background:#3FE0D0;
	color:#000000;
}
.small-texts{
	color:#000000;
}
.bg-black{
	background: radial-gradient(ellipse at center,#585858 0,#232323 100%);
}
.bg-sidebar{
	background:inherit;
	color: #ffffff;
}
.bg-sidebar-first{
	background:#3FE0D0;
	color: #000000;
}
.text-whiten{
	color: #ffffff;
}
.text-whiten:hover{
	color: #000000;
}
.dashboard-data{
	background:#EDF4F9;
	padding: 1rem 1rem 20rem 1rem;
}