.client-login-card-header{	
	background: #47a44b;
	background: linear-gradient(to right, #1537AA, #02AAF3);
	color: #ffffff;
	opacity: 1;
	border-radius: 5px;
	margin: 0 0 3rem 0;
	height: 3rem;
	
	-webkit-box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.75);
-moz-box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.75);
box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.75);
}
#login-card-wrapper{
	
	margin-bottom:10rem;
}
#register-card-wrapper{
	background: #EDF4F9; 
  
	margin-bottom:10rem;
}