.round-buttons{
	display: inline-block;
    text-decoration: none;
    background: #02A9F3;
    color: #9C27B0;
    width: 60px;
    font-size: 30px;
    height: 60px;
    line-height: 30px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    box-shadow: inset 0px 3px 0 rgba(255,255,255,0.3), 0 3px 3px rgba(0, 0, 0, 0.3);
    font-weight: bold;
    border-bottom: solid 3px #549fa9;
    text-shadow: 1px 1px 1px rgba(255, 255, 255, 0.65);
    transition: .4s;
}
.round-buttons:active{
    -ms-transform: translateY(1px);
    -webkit-transform: translateY(1px);
    transform: translateY(1px);
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.35);
    border-bottom: none;
}
.no-form-styles{
	-webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  outline: none;
  border-style: none;
}

.price-badge{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top:10%;
    border-radius: 50%;
    box-shadow: inset 0px 3px 0 rgba(255,255,255,0.3), 0 3px 3px rgba(0, 0, 0, 0.3);
    font-weight: bold;
    text-shadow: 1px 1px 1px rgba(255, 255, 255, 0.65);
    position: fixed;
    right: 2rem;
    height: 6rem;
    width: 6rem;
    font-size: 1rem;
    font-weight: 500px;

}