

.font1{
	font-size: 0.75rem;
    line-height: 1.55em;
    font-weight: 500;
    font-family: Roboto,Helvetica,Arial,sans-serif;
    letter-spacing: 0;
    text-transform: uppercase;
}

.font2{
	font-weight: 500;

     
}
.font3{
    font-weight: 700;
    font-family: Roboto Slab,Times New Roman,serif;
    font-size: 1.5625rem;
    line-height: 1.4em;
    color: #3c4858;
    text-decoration: none;
}
