
html, body {
    height: 100%;
    margin: 0;

}
.row.no-gutter {
  margin-right: 0;
  margin-left: 0;
}
.row.no-gutter > [class*="col-"] {
  padding-right: 0;
  padding-left: 0;
}
.top-ribbon{
	height: 1rem;
	background: yellow;
	/*background:linear-gradient(-135deg,#00dc00 0,#2791D2 100%)*/
}

/*--------------------------------------------------------
	banner section
--------------------------------------------------------*/
.banner-section{
	height:40rem;

	background: url(images/Screenshot_46.png);
	background-attachment: fixed;
	background-size: cover;
	background-repeat: no-repeat;
}
.banner{
	// background: rgba(237, 244, 249, 0.1);
	// height: 640px;
	// background: url(images/bg7.png);
	background-size: contain;
	background-repeat: no-repeat;
	//position:absolute;
}
.top-allowance{
	height:6rem;
}

.banner-image{
	left:50px;
	border-bottom:1rem;
	background: url(images/bg3.png);
	background-size: cover;
	background-repeat: no-repeat;
	height: 27rem;
	width:35rem;
	border-radius:5px;

	-moz-box-shadow:    inset 0 0 10px #000000;
   -webkit-box-shadow: inset 0 0 10px #000000;
   box-shadow:         inset 0 0 10px #000000;
}
nav>a, .nav-link, .navbar-toggler{
	color:#ffffff;
}
/*nav section*/
.top-bar{
	/*min-height: 8rem;*/
	background: #3575d3;
	opacity: 0.8;
	/*border-bottom: 1px solid #c3ccd7;*/
	/*background:linear-gradient(-135deg,#000000 0,#2791D2 100%);*/
	position: sticky;
	/*display: flex;
	align-items: center;
	justify-content: center;*/
	
  width: 100%;
  /*z-index: 1;*/
}



/*--------------------------------------------------------
	banner-bottom-ribbon section
--------------------------------------------------------*/
.banner-bottom-ribbon{
	height: 4rem;
	background: #1459b5;
	display: flex;
	align-items: center;
	justify-content: center;
	
	-moz-box-shadow:    inset 0 0 10px #000000;
   -webkit-box-shadow: inset 0 0 10px #000000;
   box-shadow:         inset 0 0 10px #000000;
}
h3{
	margin-top: 0;
	/*color: #ffffff;*/
}
.banner-bottom-ribbon > h3{
	color: #ffffff;
}

/*--------------------------------------------------------
	services section
--------------------------------------------------------*/
.services{
	/*height: 35rem;*/
	background: #d1d1d1;
	padding: 4% 10% 4% 10%;
}
.punch-line{	
	/*padding: 1rem;*/
	display: flex;
	align-items: center;
	justify-content: center;	
	/*-webkit-transition: width 2s, height 2s, background-color 2s, -webkit-transform 2s;
    transition: width 2s, height 2s, background-color 2s, transform 2s;	*/
}
.punch-line-body:hover{
	background: #FFCCFF;
	-webkit-box-shadow: 3px 3px 5px 6px #ccc;  /* Safari 3-4, iOS 4.0.2 - 4.2, Android 2.3+ */
  	-moz-box-shadow:    3px 3px 5px 6px #ccc;  /* Firefox 3.5 - 3.6 */
  	box-shadow:         3px 3px 5px 6px #ccc;  /* Opera 10.5, IE 9, Firefox 4+, Chrome 6+, iOS 5 */
}
.punch-line-header{	
	
}
.price-calculator{
	/*margin-right: 4rem;*/
	background: #edf4f9;
	padding: 4%;
	-webkit-box-shadow: 3px 3px 5px 6px #ccc;  /* Safari 3-4, iOS 4.0.2 - 4.2, Android 2.3+ */
  	-moz-box-shadow:    3px 3px 5px 6px #ccc;  /* Firefox 3.5 - 3.6 */
  	box-shadow:         3px 3px 5px 6px #ccc;  /* Opera 10.5, IE 9, Firefox 4+, Chrome 6+, iOS 5 */
}
.total-cost{
	order-radius: 5%; 
	text-align: center;
	-moz-box-shadow:    inset 0 0 10px #000000;
   -webkit-box-shadow: inset 0 0 10px #000000;
   box-shadow:         inset 0 0 10px #000000;
}
.calculator-header{
	/*height: 4rem;*/
	padding: 0.5rem;
	text-align:center;
}
.calculator-header > h4{
	color:#47B673;
}
.total-cost > h3{
	/*color:#00dc00;*/
	font-weight: 900;
	
}
.calculator-options{
	padding: 0% 5% 0% 5%;
	border-radius: 5%;
}
.math{
	height: 8rem;
	width: 12rem;	
}
#math1, #math2, #math3, #math4{
	height: 8rem;
	width: 12rem;
	background-size: contain;
	background-repeat: no-repeat;
}
#math1{
	background: url(images/math16.png);
	height: 8rem;
	width: 12rem;
	background-size: contain;
	background-repeat: no-repeat;
}
#math2{
	background: url(images/math2.jpg);
	height: 8rem;
	width: 12rem;
	background-size: contain;
	background-repeat: no-repeat;
}
#math3{
	background: url(images/math11.png);
	height: 8rem;
	width: 12rem;
	background-size: contain;
	background-repeat: no-repeat;
}
#math4{
	background: url(images/stat3.png);
	height: 8rem;
	width: 12rem;
	background-size: contain;
	background-repeat: no-repeat;
}
.punch-line-sub-header{
	text-align: center;
	color: #9C27B0;
	height: 3rem;
	width: 12rem;
	padding: 1rem 0rem 2rem 0rem;
}
.punch-line-content p{
	/*font-weight: bold;*/
	text-align: center;
	padding: 0.5rem 0 0.5rem 0;
	color: black;
	height: 14rem;
	width: 12rem;
}
.punch-line:hover{
	/*transition-timing-function: cubic-bezier(0.42,0,0.58,1);*/
	/*background-color: #FFCCCC;*/
    /*width: 200px;
    height: 200px;*/
    /*-webkit-transform: rotate(180deg);
    transform: rotate(180deg);*/
}

/*--------------------------------------------------------
	testimonials section
--------------------------------------------------------*/
.testimonials{
	background: #3575d3;
	padding: 0 10% 0 10%;
}
.testimonial-punchline{
	width: 30rem;
	height:20rem;
}
.testimonial-punch-line-header > h1{
	color: #ffffff;
}
.testimonial-punch-line-content > p{
	color: #ffffff;
}
.allmath{
	background: url(images/math5.png);
	height: 16rem;
	width: 20rem;
	margin: 2rem;
	background-size: cover;
	background-repeat: no-repeat;
	-moz-box-shadow:    inset 0 0 10px #000000;
   -webkit-box-shadow: inset 0 0 10px #000000;
   box-shadow:         inset 0 0 10px #000000;
}

/*--------------------------------------------------------
	support section
--------------------------------------------------------*/
.support{	
	background: #edf4f9;
	padding: 3rem 0 0 0;
	height: 30rem;
}
.support-image{
	 height: 30rem;
	// width: 43rem;
	background: url(images/support.png);
	background-size: cover;
	background-repeat: no-repeat;
}
.support-punch-line{
	padding: 10% 0 0 2%;
	// display: flex;
	// justify-content: center;
	// align-items:center;
	height: 24rem;
}
.support-punch-line-header{
	color: #595187;
}
.support-punch-line-content p{
	color: #3575d3;
	/*font-weight: bold;*/
}
.support-base{
	width: 100%;
	height: 3rem;
	border-top: 1px solid #C3CCD7;
    background-color: rgba(255, 255, 255, 0.5);
}
/*--------------------------------------------------------
	End section
--------------------------------------------------------*/
@mixin dark-overlay{
  &:after{
    content: "";
    width: 100%;
    height: auto;
    position: absolute;
    z-index: -1;  // Take note of this negative z-index and compare to each article's positive z-index. This helps your content to show up over the overlay.
    top: 0;
	right: 0;
	left: 0;
	bottom: 0;
  }
}

.end{
	/*height: 30rem;*/
	background: #404040;
	background: url(images/footer.jpg);
	background-size: cover;
    background-position: 50%;
    background-repeat: no-repeat;
    position: relative;
    z-index: 1;

	font-family: "Open Sans",Arial,sans-serif;
    font-size: 16px;
    line-height: 1.42857;
    color: #3575D3;
@include dark-overlay;
}
.end:after{
	background-image: linear-gradient(rgba(0, 0, 0, 0.90), rgba(53, 117, 211, 0.60));
  // background:rgba(53, 117, 211, 0.75);
}


.end-punchline{
	height: 15rem;
	padding: 2rem;
	border-right: 1px dotted #a2a2a2;
}
.end-punchline > div.punch-line-header > h5,.end-punchline > div.punch-line-content > p {
	color: #ffffff;
	text-align: left;
}
.end-footer{
	border-top:1px dotted #a2a2a2;
	padding: 2% 5% 2% 5%; 
}
div.end-footer-content>p{
	color: #ffffff;
	text-align: right;
}


/*body, html {
  margin: 0;
  height: 100%;
  text-align: center;
  font-family: 'Oxygen Mono', monospace;
  color: #999;
}*/

.anim-title {
  /*text-transform: uppercase;*/
  letter-spacing: 1pt;
  font-size: 30pt;
  margin-bottom: 15px;
  color: #3575d3;
}

.anim-body {
  text-align: left;
  margin: 0;
  text-transform: lowercase;
  font-size: 10pt;
  font-weight: 900;
  width: 50%;
  display: none;
}

#table {
	display: table;
	width: 100%;
	height: 500px;
  /*background-color: #e5e5e5;*/
}

#centeralign {
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 10%;
}


