.legal{
	-webkit-box-shadow: 0px 3px 8px -1px rgba(0,0,0,0.75);
	-moz-box-shadow: 0px 3px 8px -1px rgba(0,0,0,0.75);
	box-shadow: 0px 3px 8px -1px rgba(0,0,0,0.75);
	background: #8e2d83;
}
.legal-banner{
	height:20rem;
	width:100%;
	background: url(images/students6.png)no-repeat center center fixed; 
  	-webkit-background-size: cover;
  	-moz-background-size: cover;
  	-o-background-size: cover;
  	background-size: cover;
}