.revision-label{
	background:#ffffff;
	font-weight: bold;
	font-size: .75rem;    
    line-height: 1.428571;
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 0;
    height:120%;
    color:#9C27B0;
}
.revision-form-wrapper{
	background:#ffffff;
}